bcrypt==3.2.0; python_version >= "3.6"
cffi==1.14.5; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
click==8.0.1; python_version >= "3.6"
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.6" and python_full_version >= "3.5.0"
cryptography==3.4.7; python_version >= "3.6"
importlib-metadata==4.5.0; python_version < "3.8" and python_version >= "3.6"
joblib==1.0.1; python_version >= "3.6"
langdetect==1.0.9
nltk==3.6.2; python_version >= "3.5"
numpy==1.20.3; python_version >= "3.7" and python_full_version >= "3.7.1"
pandas==1.2.4; python_full_version >= "3.7.1"
paramiko==2.7.2
pycparser==2.20; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pynacl==1.4.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
pysftp==0.2.9
python-dateutil==2.8.1; python_full_version >= "3.7.1"
python-dotenv==0.17.1
pytz==2021.1; python_full_version >= "3.7.1"
regex==2021.4.4; python_version >= "3.5"
six==1.16.0; python_full_version >= "3.7.1" and python_version >= "3.6" and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0")
tqdm==4.61.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
typing-extensions==3.10.0.0; python_version < "3.8" and python_version >= "3.6"
zipp==3.4.1; python_version < "3.8" and python_version >= "3.6"
